FOODSURPLUS PROJECT START

1. VS Code → Open Folder
   C:\Users\srini\OneDrive\Desktop\FoodSurplusSystem

2. Terminal 1:
   cd backend
   npm start

3. Terminal 2:
   cd frontend
   npm run dev

4. Browser:
   Local URL shown by Vitenode_modules/
frontend/node_modules/
backend/node_modules/
